<!doctype html>
<html lang="ko">

<head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=no" />
    <!-- mobile : full screen  -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- mobile safari : remove status bar  -->
    <meta name="mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- CSS (library) -->
    <link rel="stylesheet" type="text/css" media="screen" href="../library/swiper/swiper.min.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/chatbot.css" />

    <title>Chatbot template</title>
</head>

<body>
    <div id="wrap" class="">
        <header>
            <!-- chatbot -->
            <div class="header_chatbot">
                <h1>UX봇</h1>
                <button class="btn_icon btn_help"><span>help</span></button>
                <button class="btn_icon btn_customerService"><span>customer service</span></button>
                <button class="btn_icon btn_chatbot"><span>chatbot</span></button>
                <button class="btn_icon btn_close"><span>close</span></button>
            </div>
        </header>

        <div id="content_wrapper">
            <div class="content_view">
                <!-- chatbot mode -->
                <div class=" message_view chatbot">
                    <ul>
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>가독성을 위하여 볼드나 기울임 등과 같은 강조표현을 쓸 수 있습니다.</p>
                                            <p></p>
                                            <p>엔터로 행간을 조절할 수 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>메시지가 길 경우 메시지를 적절히 나누어 연속하여 출력할 수 있습니다.</p>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="messageRight">
                                <div class="messageRight_con">
                                    <div class="messageRight_box">
                                        <div class="message_content">
                                            <p>말풍선 안에 보이는 텍스트! 의 길이가 길어 서 두 줄 이상으로 넘어갈 경우 줄바꿈이 보이는 예시</p>
                                        </div>
                                    </div>
                                    <div class="messageRight_box">
                                        <div class="messageRight_time">오전 11:38</div>
                                        <div class="message_content">
                                            <p>한 줄일 때는 이렇게</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : image only -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="card_img">
                                                <img src="../images/img_sample.jpg" alt="sample image">
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : image, text, button -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="card_img">
                                                <img src="../images/img_sample.jpg" alt="sample image">
                                            </div>
                                            <div class="message_content">
                                                <div class="card_title">공정무역 상품</div>
                                                <div class="card_con">
                                                    <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                </div>
                                                <div class="card_button">
                                                    <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    <button class="btn">전화 버튼<i class="ico_call"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : image, text, button -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="card_img">
                                                <img src="../images/img_sample.jpg" alt="sample image">
                                            </div>
                                            <div class="message_content">
                                                <div class="card_title">399,999원 <span class="txt_strikethrough">498,750원</span></div>
                                                <div class="card_subtitle txt_highlight">99,750원↓</div>
                                                <div class="card_con">
                                                    <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                </div>
                                                <div class="card_button">
                                                    <button class="btn btn_highlight">발화 버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : button only -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <div class="card_button">
                                                    <button class="btn btn_highlight">발화 버튼</button>
                                                    <button class="btn">발화 버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : button only (disabled) -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <div class="card_button">
                                                    <button class="btn btn_disabled btn_highlight">발화 버튼</button>
                                                    <button class="btn btn_disabled">발화 버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- card : button only (disabled) -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>한 말풍선에 버튼과 텍스트가 함께 있는 경우</p>
                                            <div class="btn_block_inline">
                                                <button class="btn">취소</button>
                                                <button class="btn btn_order btn_highlight">결제<i></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <div class="card_button">
                                                    <button class="btn btn_order">주문하기<i></i></button>
                                                    <button class="btn">상세보기</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- carousel only -->
                        <li>
                            <div class="messageLeft carousel_only">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                </div>
                                <!--carousel content -->
                                <div class="swiper-container carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="messageLeft_time">오전 11:38</div>
                                </div>
                            </div>
                        </li>
                        <!-- carousel -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>저는 이런 걸 할 수 있어요!</p>
                                        </div>
                                    </div>
                                </div>
                                <!--carousel content -->
                                <div class="swiper-container carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="card_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                                <div class="message_content">
                                                    <div class="card_title">공정무역 상품</div>
                                                    <div class="card_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                    <div class="card_button">
                                                        <button class="btn">링크 버튼<i class="ico_link"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="messageLeft_time">오전 11:38</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="mode_change_box">
                        <p>2019년 7월 11일</p>
                    </div>
                    <ul>
                        <!-- list type -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card card_list_type">
                                            <div class="card_header">
                                                <p class="title">리스트 타이틀</p>
                                            </div>
                                            <div class="message_content">
                                                <ul>
                                                    <li>
                                                        <div class="card_list_con">
                                                            <div class="card_title">타이틀<i class="ico_link"></i></div>
                                                            <div class="card_con">
                                                                <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                            </div>
                                                        </div>
                                                        <div class="card_right_img">
                                                            <img src="../images/img_sample.jpg" alt="sample image">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="card_list_con">
                                                            <div class="card_title">타이틀</div>
                                                            <div class="card_con">
                                                                <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                            </div>
                                                        </div>
                                                        <div class="card_right_img">
                                                            <img src="../images/img_sample.jpg" alt="sample image">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="card_list_con">
                                                            <div class="card_title">타이틀</div>
                                                            <div class="card_con">
                                                                <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                            </div>
                                                        </div>
                                                        <div class="card_right_img">
                                                            <img src="../images/img_sample.jpg" alt="sample image">
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="card_button">
                                                    <button class="btn">버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- table type 01 -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card card_list_type">
                                            <div class="card_header">
                                                <p class="title">테이블 타이틀</p>
                                            </div>
                                            <div class="message_content">
                                                <table>
                                                    <caption>테이블</caption>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">헤더</th>
                                                            <th scope="col">헤더</th>
                                                            <th scope="col">헤더</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="card_button">
                                                    <button class="btn btn_highlight">버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- table type 02 -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card card_list_type">
                                            <div class="card_header">
                                                <p class="title">테이블 타이틀</p>
                                            </div>
                                            <div class="message_content">
                                                <table>
                                                    <caption>테이블</caption>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">헤더</th>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">헤더</th>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">헤더</th>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="card_button">
                                                    <button class="btn btn_highlight">버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- table type 03 (complexed header) -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card card_list_type">
                                            <div class="card_header">
                                                <div class="card_header_con">
                                                    <div class="card_title">테이블 타이틀</div>
                                                    <div class="card_title_con">
                                                        <p>설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트 설명하는 텍스트</p>
                                                    </div>
                                                </div>
                                                <div class="card_header_right_img">
                                                    <img src="../images/img_sample.jpg" alt="sample image">
                                                </div>
                                            </div>
                                            <div class="message_content">
                                                <table>
                                                    <caption>테이블</caption>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">헤더</th>
                                                            <th scope="col">헤더</th>
                                                            <th scope="col">헤더</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                        <tr>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                            <td>데이터</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="card_button">
                                                    <button class="btn btn_highlight">버튼</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- loading -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p class="typing"><img src="../images/typing.gif"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- datepicker -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box datepicker">
                                        <div class="message_content">
                                            <div id="datepicker"></div>
                                            <div class="btn_block_inline">
                                                <button class="btn">취소</button>
                                                <button class="btn btn_highlight">확인</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="messageLeft_time">오전 11:38</div>
                                </div>
                            </div>
                        </li>
                        <!-- rate (emoticon) -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <p>저와의 대화는 어떠셨나요?</p>
                                                <div class="rate_emoticon">
                                                    <button class="btn_icon emo01"><span>awful</span></button>
                                                    <button class="btn_icon emo02"><span>bad</span></button>
                                                    <button class="btn_icon emo03"><span>so so</span></button>
                                                    <button class="btn_icon emo04"><span>good</span></button>
                                                    <button class="btn_icon emo05 on"><span>wonderful</span></button>
                                                </div>
                                                <textarea placeholder="의견을 적어주세요."></textarea>
                                                <div class="btn_block_inline">
                                                    <button class="btn">취소</button>
                                                    <button class="btn btn_highlight">확인</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- rate (star) -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <p>저와의 대화는 어떠셨나요?</p>
                                                <div class="rate_star">
                                                    <button class="btn_icon on"><span>1</span></button>
                                                    <button class="btn_icon on"><span>2</span></button>
                                                    <button class="btn_icon on"><span>3</span></button>
                                                    <button class="btn_icon on"><span>4</span></button>
                                                    <button class="btn_icon on"><span>5</span></button>
                                                </div>
                                                <textarea placeholder="의견을 적어주세요."></textarea>
                                                <div class="btn_block_inline">
                                                    <button class="btn">취소</button>
                                                    <button class="btn btn_highlight">확인</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- popup -->
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">UX봇</div>
                                    <div class="messageLeft_box">
                                        <div class="card">
                                            <div class="message_content">
                                                <div class="card_button">
                                                    <button id="btnPopupFull" class="btn">팝업 (전체화면)<i class="ico_link"></i></button>
                                                    <button id="btnPopupSmall" class="btn">팝업 (작은 사이즈 : 210px)<i class="ico_link"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- customer service mode -->
                <div class="message_view customerService">
                    <div class="mode_change_box">
                        <p>실시간 상담원 채팅 모드로 전환되었습니다.</p>
                    </div>
                    <ul>
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">상담사</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>내용</p>
                                        </div>
                                    </div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>짧을때</p>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="messageRight">
                                <div class="messageRight_con">
                                    <div class="messageRight_box">
                                        <div class="message_content">
                                            <p>네</p>
                                        </div>
                                    </div>
                                    <div class="messageRight_box">
                                        <div class="messageRight_time">오전 11:38</div>
                                        <div class="message_content">
                                            <p>짧은내용</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="messageLeft">
                                <span class="character"></span>
                                <div class="messageLeft_con">
                                    <div class="chat_name">상담사</div>
                                    <div class="messageLeft_box">
                                        <div class="message_content">
                                            <p>회원님 정보를 통해 몇가지를 여쭙겠습니다.</p>
                                        </div>
                                        <div class="messageLeft_time">오전 11:38</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <footer>
            <!-- quick reply -->
            <div class="quick_reply swiper-container carousel">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">회원가입문의</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">회원서비스</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">정기구매</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">비즈니스</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">제품안내</button>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <button type="button">도움말</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="footer_frame">
                <input type="text" placeholder="텍스트를 입력하세요">
                <button class="btn_clear"><span>초기화</span></button>
                <button class="btn_send">전송</button>
            </div>
        </footer>

        <!-- popup (full screen) -->
        <div id="popup_full" class="popup" style="display:none;">
            <div class="popup_wrapper">
                <div class="popup_full">
                    <div class="popup_header">
                        <button class="btn_icon btn_back"><span>뒤로가기(팝업 닫기)</span></button>
                        <h3>팝업 타이틀</h3>
                    </div>
                    <div class="popup_body">
                        <p>팝업 내용</p>
                    </div>
                    <div class="popup_footer">
                        <button class="btn_default">취소</button>
                        <button class="btn_highlight">확인</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- popup (small : 210px) -->
        <div id="popup_small" class="popup" style="display:none;">
            <div class="popup_wrapper">
                <div class="popup_sm">
                    <div class="popup_body">
                        <p>팝업 내용</p>
                    </div>
                    <div class="popup_footer">
                        <button class="btn_highlight">확인</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- javascript (library) -->
    <script type="text/javascript" src="../library/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../library/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../library/swiper/swiper.min.js"></script>

    <!-- javascript -->
    <script type="text/javascript" src="../js/chatbot.js"></script>

    <!-- custom javascript -->
    <script type="text/javascript">
        $(document).ready(function() {
            // popup (full screen)
            $('#btnPopupFull').click(function() {
                $('#popup_full').css('display', 'block');
                $('body').css({
                    overflow: 'hidden'
                }).bind('touchmove', function(e) {
                    e.preventDefault()
                });
            });

            // popup (small)
            $('#btnPopupSmall').click(function() {
                $('#popup_small').css('display', 'block');
                $('body').css({
                    overflow: 'hidden'
                }).bind('touchmove', function(e) {
                    e.preventDefault()
                });
            });

            // popup close
            $('.popup .btn_highlight').click(function() {
                $(this).parents('.popup').css('display', 'none');
                $('body').css({
                    overflow: 'auto'
                }).unbind('touchmove');
            });
            $('.popup .btn_default').click(function() {
                $(this).parents('.popup').css('display', 'none');
                $('body').css({
                    overflow: 'auto'
                }).unbind('touchmove');
            });
        });
    </script>
</body>

</html>